<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
      <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-content">

    {{>header}}

    <p id="about">This website allows you to search for the country you want to know the weather in general.</br>
     It shows you the temperature and the description of what day it will be like: sunny, cloudy, etc.<br>
     It was created with NodeJS in 2022 by Albi hoti.<br>
     It uses the Weather API and receives data directly from accurate meteorological sources.</p>
    </div>

    {{>footer}}
    
</body>
</html>